.blurred-pic{
    filter: blur(8px);
    /* border: #D9AF7E 8px inset; */
}

.create-challenge-form {
    align-items: center;
}


/* .create-challenge-form p{
    display: inline;
    width: 90%;
} */

.challenge-display {
    overflow-x: scroll;
    height: 33em;
    white-space: nowrap;
}

.display-challenge {
    display: inline-block;
    margin: 0em 0.5em 0em;
    height: fit-content;
    /* border: 2px black  */
}

.display-chal-text{
    padding: .2rem;
    background-color: #f2dbc0;
    align-items: center;
    width: 80%;
    margin: auto;
}

.display-chal-title-btn{
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}

.display-chal-button {
    background-color: white;
    border: 2px solid black;
    /* margin: auto; */
    transition: .5s;
    padding: .2rem;
}

.display-chal-button:hover {
    background-color: rgb(40, 34, 34);
    color: #f2dbc0;
    border: 2px solid black;
}

.display-challenge p {
    background-color: #f2dbc0;
    color: #2C2C2C;
    width: 16em;
    margin: auto;
}

