.subject-card{
    background-color: #50032F;
    width: 18em;
}

.subject-card h1 {
    cursor: pointer;
}

.subj-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 1em;
}

#gallery{
    /* margin-top: 3em; */
    background-image: url('../images/background.jpg');
    color: antiquewhite;
    height: 100vh;
}
