#goal-pic-div {
    height: 15em;
    border: 2px black solid;
    background-color: pink;
    width: 20em;
    margin-left: 3em;
}

.canvas {
    border: 2px black solid;
    margin: 1em;
}

img {
    width: auto;
    height: 13em;
}

