

.game-button {
    margin: .5em;
    border-radius: 1em;
    background-color: white;
    transition: .3s;
    border: 0px;
    width: fit-content;
    box-shadow: 1px 1px 3px #360621;
}

.game-button:hover {
    /* background-color: #50032F; */
    transform: scale(.95);
    filter: saturate(60%);


}

.challenge-list-pic{
    background-color: white;
}

.selected-details p{
    padding: 0px;
    margin: 0px;
}

/* #current-settings{
    grid-area: settings;
} */

#game-grid{
    /* display: grid; */
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-areas:
    "header header header"
    "current time-control chal-btn "
    "continue timer end"
    ". . canvas"
    "goal-pic . canvas"
    ". .  canvas"; */
    /* "continue time-control  end" */
    /* ". header header header ."
    ". current .chal-btn ."
    ". . start . ."
    ". . . canvas canvas"
    "goal-pic goal-pic . canvas canvas"
    ". . . canvas canvas"; */
    /* "goal-pic goal-pic canvas canvas"; */
}


#current-game-info{
    /* grid-area: game-info */
    grid-area: current;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#current-settings{
    align-self: center;
}

.start-button{
    grid-area: time-control; 
    width: fit-content;
    background-color: green;
    font-size: 1.25em;
    padding: .5em;
    height: fit-content;
}

.pause-button{
    grid-area: time-control;
    width: fit-content;
    font-size: 1em;
    padding: .5em;
}

.continue-button{
    grid-area: continue;
    width: fit-content;
    padding: .5em;
    height: fit-content;
    font-size: 1em;

}

.game-end-button{
    grid-area: end;
    width: fit-content;
    height: fit-content;
    background-color: red;
    font-size: 1em;
    padding: .5em;
}

.challenge-pick-button{
    grid-area: chal-btn;
    font-size: .8em;
    width:  6em;
}
.game-type-header{
    text-shadow: rgba(158, 156, 156, 0.671) 1px 1px 2px;
}


#result-pics {
    display: flex;
}

#result-pics div{
    margin: 1em 2em;
}

#result-pics img, #result-pics p {
    width: 10em;
    height: auto;    

}

#setting-and-control{
    grid-area: controls;
    padding: 0em;
    margin: 0em;
    align-items: center;
    /* background-color: rgb(38, 255, 0); */
    width: fit-content;
    height: 10em;
}

#canvas-controls {
    padding-top: 0px;
    grid-area: canvas-btns;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#canvas-btns {
    grid-area: "btns"
}


#canvas-controls label {
    color: #FAD5AB;
}

#goal-pic-div {
    height: 20em;
    /* border: 2px black solid; */
    border-radius: 2em;
    background-color: #FAD5AB;
    width: 20em;
    height: 22em;
    margin-left: 3em;
    grid-area: goal-pic;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #goal-pic-div p{
    
} */

#canvas{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.gameEnd{
    height: 80vh;
    overflow: auto;
    width: 80vw;
    margin: 1em;
}
.gameEnd img {
    background-color: white;
    border: black 2px inset;
    padding: 2px;
}

#start-pause-buttons {
    grid-area: timing-btn;
    margin: 0em;
    padding: 0em;
}


.color-picker {
    margin: auto;
    margin-top: 0em;
    /* background-color: rgba(99, 9, 60, 0.881); */
    padding: 1em;
    width: fit-content;
    border-radius: 1em;
    grid-area: palette;
}

.color-picker label {
    color: black;
    margin-top: 1em;
}

#game-page {
    background-color: rgba(99, 9, 60, 0.901);
}

.timer  {
    border: 5px black solid;
    padding: .7em;
    margin: .2em;
    background-color: white;
    width: fit-content;
}

.how-to{
    text-align: center;
}

#game-canvas{
    grid-area: canvas;    
}

.canvas {
    border: 2px black solid;
    margin: 1em;
}

img {
    width: auto;
    max-width: 18em;
    height: 19em;
    padding: .5em;
    margin: .5em;
}

#goal-and-canvas{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
}

#current-settings{
    margin: 1em;
    padding: .5em;
    border-radius: 2em;
    /* border: black 2px solid; */
    width: fit-content;
    background-color: #FAD5AB;
}

#current-settings p{
    margin: 0em;
    padding: 0em;
}

#brush-radio-small {
    transform: scale(.75);
    padding: .5em;
}

#brush-radio-med {
    transform: scale(1.25);
    padding: .5em;
    margin-left: 1em;
}

#brush-radio-large {
    transform: scale(1.75);
    padding: .5em;
    margin-left: 1em;
}

#brush-size-radio {
    display: block;
    /* cursor: pointer; */
    /* width: fit-content; */
}

#brush-size-radio input {
    cursor: pointer;
}

.attempt-display {
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 2em;
    height: fit-content;
}