nav a, nav .header-btn{
    text-decoration: none;
    color: #360621;
    padding: .4em 1em;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(#FAD5AB, #EFC089, #C68C48 );
    transition: all ease-in-out 0.5s;
    border-radius: 1em;
    border: none;
    font-size: 1em;
    margin-top: 2.5em;
    margin-left: .5em;
    /* height: 2.5em; */
    /* width: fit-content; */
}

/* #game-page button {
    margin-top: 0em;
} */

nav a:hover,  nav .header-btn:hover {
    transition: all ease-in-out 0.3s;
    color: white;
    border-radius: .5em;
    background-image: linear-gradient( #C68C48, #FAD5AB);
}

nav .active {
    background-image: linear-gradient( #C68C48, #FAD5AB);
    border-radius: 1em;
    font-style: italic;
}

#header{
    height: 7em;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px #360621;
    /* top: 1em; */
}

#footer, #header{
    background-color: #50032F;
    width: 100vw;
    color: white;
    position: absolute;
}

#footer p{
    padding: 0em;
    margin: 0em;
    left: 0px;
}

#footer {
    height: 2em;
    /* top: 1000px; */
}
