.login-issues, .sigup-issues {
    border: 1px white solid;
    background-color: rgba(231, 65, 65, 0.459);
    display: flex;
}

.login-issues p, .sigup-issues p {
    padding: .5em;
    margin: .5em;
}

#user-page p, #user-page h2, #user-page h3 {
    background-color: #FAD5AB;
    width: fit-content;
    margin: auto;
}

.challenge-modal {
    width: 45vw;
}

.challenge-form-text p {
    width: 2em;
}


/* #show-other-user.display-drawing {

} */