.clickable-username {
    text-decoration: underline;
    cursor: pointer;
}
#welcome-page, #user-page{
    height: fit-content;
    background-image: url('../images/background.jpg');
    /* background-image: url("http://mobileimages.lowes.com/product/converted/501158/5011583059502.jpg"); */
    /* align-items: center; */
}

#welcome-spacer{
    height: 2em;
}

#welcome-text, #user-page h2, #user-page h3{
    /* background-color: rgb(77, 26, 20); */
    background-image: linear-gradient(90deg, rgba(77, 26, 20, 0.1), rgba(77, 26, 20, 0.7), rgb(77, 26, 20), rgba(77, 26, 20, 0.7), rgba(77, 26, 20, 0.1) );
    width: 66vw;
    margin: 2em 10em 2em;
    color: wheat;
    border-radius: 2em;
    text-decoration: none;
    padding: .2em .8em;
}

#welcome-page h4 {
    margin-bottom: 5px;
}

#welcome-text em {
    font-family: 'Great Vibes', cursive;
    font-weight: 150;
    font-style: none;
    font-size: 1.5em;
    padding: 0.5em;
}

#welcome-text h1 {
    letter-spacing: 2px;
}

.display-explain {
    color: white;
    text-align: left;
    margin-left: 3em;
    margin-bottom: 0em;
    padding: 0em;
    /* font-size: .8em; */
}

#welcome a{
    text-decoration: none;
    color: wheat;
}

.loader {
    /* background-color: black; */
    /* background-image: radial-gradient(black,black, rgba(0, 0, 0, 0.608), rgba(0, 0, 0, 0)); */
    border-radius: 5em;
    width: 60%;
    height: 60%;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */

    /* position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */


}
.loader p {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
}
/* #welcome a:visited{
    text-decoration: none;
    color: wheat;
} */