.display-drawing img{
    transition: 1s;
    border: gold 4px inset;
    margin: .3em;
    background-color: white;
}

.drawing-display {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 2em;
}

.display-drawing {
    display: inline-block;
    margin: 0em 1em;
    border: 2px black solid;
    border-radius: 1em;
    background-color: antiquewhite;
}

.display-drawing p {
    padding: 0px;
    margin: 0px;
}

#welcome-page{
    background-image: url("http://mobileimages.lowes.com/product/converted/501158/5011583059502.jpg");
    /* align-items: center; */
}

#welcome-text, #login-text{
    background-color: rgba(77, 26, 20, 0.7);
    width: 66vw;
    margin: 2em 10em;
    color: wheat;
    border-radius: 2em;
    text-decoration: none;
}

#welcome a{
    text-decoration: none;
    color: wheat;
}

/* #welcome a:visited{
    text-decoration: none;
    color: wheat;
} */